/* Styles globaux de la page centrale */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    padding-inline: 30px;
}

.header{
    display: flex;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    background-color: hsla(165, 85%, 40%, 0.7);
    border-radius: 10px;
    margin: 30px 0px 0px 0px;
    padding: 0 0 0 20px;
}

.header-title{
    margin-inline-start: 0px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.nav{
    margin-left: auto;
}

.nav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.links{
    color: white;
    font-weight: bold;
}

.link{
    margin-inline-end: 40px;
    list-style: none;
}

#theme-toggle{
    background: none;
    border: none;
    font-size: 1.2rem;
    justify-self: flex-end;
    margin-inline: 50px;
    cursor: pointer;
    padding-top: 7px;
}

.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.home-title{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.home-subtitle{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-description{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 40px;
}

#openProjects{
    background-color: hsla(165, 85%, 40%, 0.7);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

#openProjects:hover{
    background-color: hsla(165, 85%, 45%, 0.8);
}