/* Styles globaux de la page centrale */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.header{
    display: flex;
    padding-inline: 30px;

}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    background-color: hsla(165, 85%, 40%, 0.7);
    border-radius: 10px;
    margin: 30px 0px 0px 0px;
    padding: 0 0 0 20px;
}

.header-title{
    margin-inline-start: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.nav{
    margin-left: auto;
}

.nav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.links{
    color: white;
    font-weight: bold;
}

.link{
    margin-inline-end: 40px;
    list-style: none;
}

#theme-toggle{
    background: none;
    border: none;
    font-size: 1.2rem;
    justify-self: flex-end;
    padding-top: 7px;
    margin-right: 30px;
}

.home-section, .about-section, .projects-section, .contact-section{
    padding-inline: 30px;
}

.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.home-title{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.home-subtitle{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
}

.home-description{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 40px;
    line-height: 2;
}

#openProjects{
    background-color: hsla(165, 85%, 40%, 0.7);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 40px;
    margin-bottom: 50px;
    cursor: pointer;
}

#openProjects:hover{
    background-color: hsla(165, 85%, 45%, 0.8);
}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 80px;
    background-color: azure;
}

.about-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 2.5rem;
}

.about-description{
    display: flex;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 40px;
    line-height: 2;
}

.about-section-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about-section-cards-titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -25px;
}

.about-section-cards-titles img{
    width: auto;
    height: 25px;
    margin-left: 10px;
}

.about-section-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 2;
    border: solid 2px lightskyblue;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 0px 30px 10px 30px;
    margin: 15px 15px 50px 15px;
}

bold{
    font-weight: 600;
}